<!DOCTYPE html>
<html>
<head>
	<div>
		<link href="public/assets/css/miestilo.css" rel="stylesheet" >
		<title>UNNE</title>
	</div>
</head>
	<body >
		<div class="titulo">
			<nav class="menu">
			<ul>
			<li><a href="https://virtual-moodle.unne.edu.ar/login/index.php" target="_blank">Ingreso a la plataforma</a></li>
			<li><a href="https://virtual.unne.edu.ar/web2015/UNNE-virtual/que_es_UV.php" target="_blank">Sobre nosotros</a></li>
			<li><a href="https://virtual.unne.edu.ar/2016/mesa-ayuda/mesa_ayuda.php" target="_blank">Contacto</a></li>
			</ul>
			</nav>
			<h1> UNNE VIRTUAL</h1>
		</div>
		<div class="parrafo">
			<p>El Programa UNNE-Virtual fue creado por Resolución Nº 185/01-CS, 
			destinada inicialmente a complementar las acciones pedagógicas de las distintas Unidades Académicas. 
			Con el transcurrir del tiempo,  el fortalecimiento y la ampliación de sus líneas de acción lo han configurado
			como un Programa Central de la  Universidad Nacional del Nordeste dependiente de la Secretaría General Académica
			del Rectorado. En la actualidad se articula con las distintas Unidades Académicas y con otros estamentos y programas
			implementados por la Universidad.
			</p>
			<p>
				Además de ser un soporte para la educación presencial, la modalidad virtual tiene identidad propia y permite 
				que profesores, tutores y estudiantes formen una comunidad de aprendizaje donde la interacción y 
				la comunicación se constituyen en el núcleo central.
			</p>
		</div>
		<div class ="footer">
			<p> Universidad Nacional del Nordeste - Secretaría General Académica - 25 de mayo 868 - Corrientes </p>
		</div>
	</body>
</html>